# Vercel config
.vercel

# Build output (never commit these)
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# OS + IDE junk
.DS_Store
Thumbs.db

# Don’t commit archives or zips
*.zip